.card {
    display: flex;
    width: 50%;
    padding: $spacer;
    text-align: center;

    &__body {
        background-color: $white;
        text-align: center;
        padding: 0 $spacer;
        display: flex;
        height: 7rem;
        padding: $spacer;

        &:nth-child(even) {
            margin-right: 0;
        }
    }

    &__img {
        width: 100%;
        height: auto;
    }
}
