<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ meta_title }}</title>

    <meta name="description" content="{{ meta_description }}">
    <meta name="author" content="Web Artificer">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Jura|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/common-medium.css" media="(min-width:48.000em)" rel="stylesheet">
  </head>

  <body>   

    <header>
        <img src="/svg/web-artificer.svg" alt="Web Artificer" class="logo">
        {% include "partials/partials.menu.html" %}
    </header>

    <main>

      {% block main %}

      {% endblock %}

    </main>

  </body>

</html>