.btn {
    background-color: transparent;
    border: 2px solid $dark-grey;
    padding: $spacer;
    font-weight: 900;
    transition: opacity $transition-speed $transition-feel;

    &:hover {
        opacity: 0.8;
    }
}
