.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: $spacer * 2;

    &__content {
        background-color: $white;
        box-shadow: 0px 3px 25px 0px rgba(204, 204, 204, 0.76);
        border-radius: 4px;
        width: calc(50% - 0.5rem);
        margin-right: $spacer;
        margin-bottom: $spacer;
        text-align: center;

        &:nth-child(even) {
            margin-right: 0;
        }
    }

    &__img {
        height: 4rem;
        padding: ($spacer * 0.25) $spacer;
        display: table-cell;
        vertical-align: middle;
    }

    &__body {
        padding-left: $spacer;
        padding-right: $spacer;
    }
}
