$font-family-thin: 'Times New Roman', Times, serif;
$font-family-heavier: 'Montserrat', sans-serif;

@mixin fontDefault() {
    font-family: $font-family-thin;
}

@mixin fontHeavier() {
    font-family: $font-family-heavier;
}
