<section class="container ">
    <h1 class="h1 -small -large-mb main">Featured</h1>
</section>

<section class="featured">
    <section class="container">
        <div class="main">
            <div class="featured__container">

                <section class="card">
                    <div class="card__img">
                        <img src="/svg/crowdcube-logo.svg" alt="Crowdcude">
                    </div>
                </section>

                <section class="card">
                    <div class="card__img">
                        <img src="/svg/crowdcube-logo.svg" alt="Crowdcude">
                    </div>
                </section>

                <section class="card">
                    <div class="card__img">
                        <img src="/svg/crowdcube-logo.svg" alt="Crowdcude">
                    </div>
                </section>

            </div>
        </div>
    </section>
</section>