<section class="container">
    <h1 class="h1 -small -large-mb main">Enjoyed coding for:</h1>
</section>

<section class="featured">
    <section class="container">
        <div class="main">
            <div class="featured__container">
                <section class="card">
                    <div class="card__img">
                        <img src="/svg/crowdcube-logo.svg" alt="Crowdcude" />
                    </div>
                </section>

                <section class="card">
                    <div class="card__img">
                        <img
                            src="/svg/londonbridge-logo.svg"
                            alt="London Bridge Hospital"
                        />
                    </div>
                </section>

                <section class="card">
                    <div class="card__img">
                        <img
                            src="/svg/pfizer-logo@logotyp.us.svg"
                            alt="Pfizer"
                        />
                    </div>
                </section>

                <section class="card">
                    <div class="card__img">
                        <img
                            src="/svg/pf_banner_logo_green_navy.svg"
                            alt="Playfinder"
                        />
                    </div>
                </section>

                <section class="card">
                    <div class="card__img">
                        <img src="/img/unhcr-logo-UK.png" alt="UNHCR UK" />
                    </div>
                </section>

                <section class="card">
                    <div class="card__img">
                        <img
                            src="/img/logo-new@2x.png"
                            alt="Custodian Solutions"
                        />
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
