<section class="container">
    <h1 class="h1 -small -large-mb main">Enjoyed coding for:</h1>
</section>

<section class="featured">
    <section class="container">
        <div class="main">
            <div class="featured__container">
                <section class="card">
                    <img
                        src="/svg/crowdcube-logo.svg"
                        alt="Crowdcude"
                        class="card__img"
                    />
                </section>

                <section class="card">
                    <img
                        src="/svg/londonbridge-logo.svg"
                        alt="London Bridge Hospital"
                        class="card__img"
                    />
                </section>

                <section class="card">
                    <img
                        src="/svg/pfizer-logo@logotyp.us.svg"
                        alt="Pfizer"
                        class="card__img"
                    />
                </section>

                <section class="card">
                    <img
                        src="/svg/pf_banner_logo_green_navy.svg"
                        alt="Playfinder"
                        class="card__img"
                    />
                </section>

                <section class="card">
                    <img
                        src="/img/unhcr-logo-UK.png"
                        alt="UNHCR UK"
                        class="card__img"
                    />
                </section>

                <section class="card">
                    <img
                        src="/img/logo-new@2x.png"
                        alt="Custodian Solutions"
                        class="card__img"
                    />
                </section>
            </div>
        </div>
    </section>
</section>
