<section class="menu">
    <nav class="menu__wrapper">
        <a href="" class="menu__link">Home</a>
        <a href="" class="menu__link">About</a>
        <a href="" class="menu__link">Blog</a>
        <a href="" class="menu__link">CV</a>
        <a href="" class="menu__link">Skills</a>
        <a href="" class="menu__link">Home</a>
        <a href="" class="menu__link">About</a>
        <a href="" class="menu__link">Blog</a>
        <a href="" class="menu__link">CV</a>
        <a href="" class="menu__link">Skills</a>
        <a href="" class="menu__link">Home</a>
        <a href="" class="menu__link">About</a>
        <a href="" class="menu__link">Blog</a>
        <a href="" class="menu__link">CV</a>
        <a href="" class="menu__link">Skills</a>
    </nav>
</section>
