.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    @include fontHeavier();
    color: $dark-grey;
    font-weight: 700;
    margin-bottom: $spacer;
    line-height: 1;
    letter-spacing: -4px;

    &.-no-margin-bt {
        margin-bottom: 0;
    }

    &.-skimmy {
        @include fontDefault();
        font-style: italic;
    }

    &.-underline {
        border-bottom: dashed;
    }

    &.-caps {
        text-transform: uppercase;
    }

    &.-large-mb {
        margin-bottom: $spacer * 2;
    }
}

.h1 {
    font-size: 3.25rem;
    text-shadow: -6px 5px 0px rgba(255, 255, 255, 1);
    font-weight: 900;
    line-height: 0.8;

    &.-small {
        font-size: 2.5rem;
    }
}

.h2 {
    font-size: 2.5rem;
}

.h3 {
    font-size: 1.5rem;
}

.h4 {
    font-size: 1.25rem;
}
