.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $smokey;
    width: 100%;
    z-index: 9;
    border-top: 3px solid $white;

    &__wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -ms-overflow-style: none; // Internet Explorer 10+
        scrollbar-width: none; // Firefox
        display: flex;

        &::-webkit-scrollbar {
            display: none; // Safari and Chrome
        }
    }

    &__link {
        font-size: 1.25rem;
        padding: ($spacer * 0.75) $spacer;
        display: inline-block;
        color: $dark-grey;
        width: 25%;
        text-align: center;
    }
}
