<section>    
    <h1 class="h1 -small -large-mb">About</h1>
    <section class="about">
        <div class="about__content mb-3">
            <p>I am <b>Clay Sissing</b>, aka WEB ARTIFICER, an enthusiastic and highly experienced <b>senior front-end developer</b> 
            living in a lovely city of Exeter in Devon.</p>
            <p>My personal and professional culture is centered around: 
            <b>simplicity</b>, <b>passion</b>, <b>autonomy</b> and last but not least <b>having fun</b>.</p>
            {% include "partials/partials.contact.html" %}
        </div>

        <div class="about__content">
            <img src="/svg/about.svg" alt="Clay Sissing">
        </div>
    </section>
</section>
