<h1 class="h3">Featured skill</h1>

<h2 class="h1 -no-margin-bt -skimmy -dark">Building digital products</h2>
<h2 class="h1 -skimmy -light">with end user in mind</h2>

<section class="featured">
    <div class="featured__circle"></div>
    <div class="featured__content">
        <img src="https://s3-us-west-2.amazonaws.com/svgporn.com/logos/javascript.svg" alt="JavaScript" class="featured__img">
        <img src="https://s3-us-west-2.amazonaws.com/svgporn.com/logos/css-3.svg" alt="CSS3" class="featured__img -second">
        <img src="https://s3-us-west-2.amazonaws.com/svgporn.com/logos/html-5.svg" alt="HTML5" class="featured__img -third">
    </div>
</section>

<p class="mb-2"><a href="">View more skills</a></p>

<h2 class="h3 -no-margin-bt">Featured brands</h2>
<h2 class="h2 -skimmy -dark">enjoyed creating experiences</h2>

<section class="section -full">
    <div class="section__content">
        <div class="card">
            <section class="card__content">
                <div class="card__img">
                    <img src="/svg/crowdcube-logo.svg" alt="Crowdcude">
                </div>
                <h1 class="h4 card__body">Crowdcube</h1>
            </section>
            <section class="card__content">
                <div class="card__img">
                    <img src="/img/unhcr-logo-UK.png" alt="UNHCR Uk">
                </div>
                <h1 class="h4 card__body">UNHCR Uk</h1>
            </section>
            <section class="card__content">
                <div class="card__img">
                    <img src="/img/logo-new@2x.png" alt="Custodian Solutions">
                </div>
                <h1 class="h4 card__body">Custodian Solutions</h1>
            </section>
            <section class="card__content">
                <div class="card__img">
                    <img src="/svg/londonbridge-logo.svg" alt="London Bridge Hospital">
                </div>
                <h1 class="h4 card__body">London Bridge Hospital</h1>
            </section>
            <section class="card__content">
                <div class="card__img">
                    <img src="/img/logo-new@2x.png" alt="Custodian Solutions">
                </div>
                <h1 class="h4 card__body">Custodian Solutions</h1>
            </section>
            <section class="card__content">
                <div class="card__img">
                    <img src="/svg/pfizer-logo@logotyp.us.svg" alt="Pfizer">
                </div>
                <h1 class="h4 card__body">Pfizer</h1>
            </section>
        </div>
    </div>
</section>

<h2 class="h3 -no-margin-bt mt-2">Culture</h2>
<h2 class="h2 -skimmy -dark">way of life</h2>
<p>My personal and professional culture is centered around, simplicity, focused, passion, commitment, autonomy and having fun.</p>
