.footer {
    &__container {
        width: 49%;
        display: inline-block;
        vertical-align: middle;

        &:last-of-type {
            text-align: right;
        }
    }

    p {
        font-size: 100%;
    }
}
