.container {
    max-width: 1280px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    width: 100%;
}

.col {
    display: flex;
    width: 100%;
}

.col-6 {
    display: flex;
    width: 50%;
}

@media screen and (min-width: 768px) {
    .col-md-2 {
        display: flex;
        width: 16%;
    }

    .col-md-3 {
        display: flex;
        width: 33%;
    }

    .col-md-4 {
        display: flex;
        width: 33%;
    }

    .col-md-6 {
        display: flex;
        width: 50%;
    }

    .col-md-9 {
        display: flex;
        width: 66%;
    }
}
